h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.header-section {
  background-color: #335559;
  padding: 30px 0;
}
.header-section .header-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media only screen and (max-width: 576px) {
  .header-section .header-title-wrapper {
    gap: 15px;
  }
}
.header-section .header-title-wrapper .header-title-text {
  font-size: 48px;
  color: white;
  line-height: 120%;
}
@media only screen and (max-width: 576px) {
  .header-section .header-title-wrapper .header-title-text {
    font-size: 28px;
  }
}

.main-form-section {
  background-color: #DCE6E3;
  padding: 100px 0;
}
@media only screen and (max-width: 576px) {
  .main-form-section {
    padding: 60px 20px;
  }
}
.main-form-section .form-wrapper .form-section-wrapper .single-row-wrapper {
  margin-bottom: 30px;
}
@media only screen and (max-width: 576px) {
  .main-form-section .form-wrapper .form-section-wrapper .single-row-wrapper {
    margin-bottom: 15px;
  }
}
.main-form-section .form-wrapper .form-section-wrapper .single-row-wrapper .single-input-feld-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  padding-right: 10px;
}
@media only screen and (max-width: 767px) {
  .main-form-section .form-wrapper .form-section-wrapper .single-row-wrapper .single-input-feld-wrapper {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 576px) {
  .main-form-section .form-wrapper .form-section-wrapper .single-row-wrapper .single-input-feld-wrapper {
    gap: 5px;
    margin-bottom: 15px;
  }
}
.main-form-section .form-wrapper .form-section-wrapper .single-row-wrapper .single-input-feld-wrapper .single-label .single-label-text {
  font-size: 16px;
}
.main-form-section .form-wrapper .form-section-wrapper .single-row-wrapper .single-input-feld-wrapper .single-input-feld {
  padding: 10px;
  width: 100%;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
}
.main-form-section .form-wrapper .form-section-wrapper .option-feld-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media only screen and (max-width: 576px) {
  .main-form-section .form-wrapper .form-section-wrapper .option-feld-wrapper {
    gap: 0px;
  }
}
@media only screen and (max-width: 576px) {
  .main-form-section .form-wrapper .form-section-wrapper .option-feld-wrapper .single-option-feld {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .main-form-section .form-wrapper .form-section-wrapper .option-feld-wrapper .single-option-feld {
    margin-bottom: 20px;
  }
}
.main-form-section .form-wrapper .form-section-wrapper .option-feld-wrapper .single-option-feld .single-select-tag {
  padding: 10px;
  width: 100%;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
}
.main-form-section .form-wrapper .form-section-wrapper .option-feld-wrapper .single-option-feld .single-select-tag:hover {
  cursor: pointer;
}
.main-form-section .form-wrapper .form-bottom-section {
  margin-top: 40px;
  border-top: 1px solid black;
}
.main-form-section .form-wrapper .form-bottom-section .form-bottom-section-wrapper .form-bottom-left-side-wrapper {
  border-right: 1px solid black;
  padding-right: 40px;
  padding-top: 40px;
}
@media only screen and (max-width: 767px) {
  .main-form-section .form-wrapper .form-bottom-section .form-bottom-section-wrapper .form-bottom-left-side-wrapper {
    border-right: 0;
    padding-right: 20px;
    padding-top: 20px;
  }
}
.main-form-section .form-wrapper .form-bottom-section .form-bottom-section-wrapper .form-bottom-left-side-wrapper .left-side-single-wrapper {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  .main-form-section .form-wrapper .form-bottom-section .form-bottom-section-wrapper .form-bottom-left-side-wrapper .left-side-single-wrapper {
    margin-bottom: 20px;
  }
}
.main-form-section .form-wrapper .form-bottom-section .form-bottom-section-wrapper .form-bottom-left-side-wrapper .left-side-single-wrapper .left-side-single-label {
  font-size: 28px;
}
@media only screen and (max-width: 768px) {
  .main-form-section .form-wrapper .form-bottom-section .form-bottom-section-wrapper .form-bottom-left-side-wrapper .left-side-single-wrapper .left-side-single-label {
    font-size: 18px;
  }
}
.main-form-section .form-wrapper .form-bottom-section .form-bottom-section-wrapper .form-bottom-left-side-wrapper .left-side-single-wrapper .left-side-single-textarea {
  width: 90%;
  background-color: rgba(171, 190, 183, 0.1607843137);
  border: 0;
  border-radius: 8px;
  padding: 20px;
}
@media only screen and (max-width: 767px) {
  .main-form-section .form-wrapper .form-bottom-section .form-bottom-section-wrapper .form-bottom-left-side-wrapper .left-side-single-wrapper .left-side-single-textarea {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .main-form-section .form-wrapper .form-bottom-section .form-bottom-section-wrapper .form-bottom-left-side-wrapper .left-side-single-wrapper .left-side-single-textarea {
    padding: 10px;
  }
}
.main-form-section .form-wrapper .form-bottom-section .form-bottom-section-wrapper .form-bottom-left-side-wrapper .left-side-single-wrapper .h-300px {
  height: 300px;
}
@media only screen and (max-width: 768px) {
  .main-form-section .form-wrapper .form-bottom-section .form-bottom-section-wrapper .form-bottom-left-side-wrapper .left-side-single-wrapper .h-300px {
    height: 200px;
  }
}
.main-form-section .form-wrapper .form-bottom-section .form-bottom-section-wrapper .form-bottom-left-side-wrapper .left-side-single-wrapper .h-150px {
  height: 150px;
}
@media only screen and (max-width: 768px) {
  .main-form-section .form-wrapper .form-bottom-section .form-bottom-section-wrapper .form-bottom-left-side-wrapper .left-side-single-wrapper .h-150px {
    height: 100px;
  }
}
.main-form-section .form-wrapper .form-bottom-section .form-bottom-section-wrapper .form-bottom-right-side-wrapper {
  padding-top: 40px;
}/*# sourceMappingURL=them.css.map */