h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


// header area
.header-section {
    background-color: #335559;
    padding: 30px 0;

    .header-title-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        @media only screen and (max-width: 576px) {
            gap: 15px;
        }

        .header-title-text {
            font-size: 48px;
            color: white;
            line-height: 120%;

            @media only screen and (max-width: 576px) {
                font-size: 28px;
            }
        }
    }
}

.main-form-section {
    background-color: #DCE6E3;
    padding: 100px 0;

    @media only screen and (max-width: 576px) {
        padding: 60px 20px;
    }

    .form-wrapper {
        .form-section-wrapper {
            .single-row-wrapper {
                margin-bottom: 30px;

                @media only screen and (max-width: 576px) {
                    margin-bottom: 15px;
                }

                .single-input-feld-wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: 10px;
                    padding-right: 10px;
                    @media only screen and (max-width: 767px) {
                        margin-bottom: 20px;
                    }

                    @media only screen and (max-width: 576px) {
                        gap: 5px;
                        margin-bottom: 15px;
                    }

                    .single-label {
                        .single-label-text {
                            font-size: 16px;
                        }
                    }

                    .single-input-feld {
                        padding: 10px;
                        width: 100%;
                        background-color: transparent;
                        border: 1px solid black;
                        border-radius: 10px;
                    }
                }
            }

            .option-feld-wrapper {
                display: flex;
                flex-direction: column;
                gap: 30px;

                @media only screen and (max-width: 576px) {
                    gap: 0px;
                }

                .single-option-feld {
                    @media only screen and (max-width: 576px) {
                        margin-bottom: 15px;
                    }

                    @media only screen and (max-width: 767px) {
                        margin-bottom: 20px;
                    }

                    .single-select-tag {
                        padding: 10px;
                        width: 100%;
                        background-color: transparent;
                        border: 1px solid black;
                        border-radius: 10px;

                        &:hover {
                            cursor: pointer;
                        }

                        .single-option-tag {}
                    }
                }
            }
        }

        .form-bottom-section {
            margin-top: 40px;
            border-top: 1px solid black;

            .form-bottom-section-wrapper {

                .form-bottom-left-side-wrapper {
                    border-right: 1px solid black;
                    padding-right: 40px;
                    padding-top: 40px;

                    @media only screen and (max-width: 767px) {
                        border-right: 0;
                        padding-right: 20px;
                        padding-top: 20px;
                    }

                    .left-side-single-wrapper {
                        display: flex;
                        align-items: start;
                        flex-direction: column;
                        gap: 15px;
                        margin-bottom: 30px;
                        @media only screen and (max-width: 767px) {
                            margin-bottom: 20px;
                        }

                        .left-side-single-label {
                            font-size: 28px;

                            @media only screen and (max-width: 768px) {
                                font-size: 18px;
                            }
                        }

                        .left-side-single-textarea {
                            width: 90%;
                            background-color: transparent;
                            border: 1px solid black;
                            border-radius: 8px;
                            padding: 20px;

                            @media only screen and (max-width: 767px) {
                                width: 100%;
                            }

                            @media only screen and (max-width: 768px) {
                                padding: 10px;
                            }
                        }

                        .h-300px {
                            height: 300px;

                            @media only screen and (max-width: 768px) {
                                height: 200px;
                            }
                        }

                        .h-150px {
                            @media only screen and (max-width: 768px) {
                                height: 100px;
                            }
                        }
                    }
                }

                .form-bottom-right-side-wrapper {
                    padding-top: 40px;
                }
            }
        }
    }
}